<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nice</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

</head>
<body>
    <div class="main w-full min-h-screen bg-zinc-900">
        <div class="form p-10">
            <form action="">
                <input class="block px-5 py-2 bg-zinc-800 w-full rounded-md outline-none placeholder-gray-450 text-white" type="text" name="" id="" placeholder="Title goes here...">
                <textarea class="block px-5 py-2 bg-zinc-800 resize-none mt-2 w-full rounded-md outline-none placeholder-gray-450 text-white" name="" id="" placeholder="Write your task details here..."></textarea>
                <!-- <input class="mt-2 px-5 py-2 bg-blue-600 text-white rounded-md" value="Create Task"> -->
                <button class="mt-2 px-5 py-2 bg-blue-600 text-white rounded-md">Create Task</button>
            </form>
        </div>
        <div class="tasks p-10 flex gap-3 flex-wrap">
            <div class="task w-72 px-3 py-4 rounded-md bg-zinc-800">
                <h1 class="text-white text-3xl tracking-tighter">Some task goes here.</h1>
                <a href="" class="text-blue-500 inline-block mt-3">Read more.</a>
            </div>
            <div class="task w-72 px-3 py-4 rounded-md bg-zinc-800">
                <h1 class="text-white text-3xl tracking-tighter">Some task goes here.</h1>
                <a href="" class="text-blue-500 inline-block mt-3">Read more.</a>
            </div>
            <div class="task w-72 px-3 py-4 rounded-md bg-zinc-800">
                <h1 class="text-white text-3xl tracking-tighter">Some task goes here.</h1>
                <a href="" class="text-blue-500 inline-block mt-3">Read more.</a>
            </div>
        </div>
    </div>
</body>
</html>